input, textarea{
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--input-stroke);
  outline: 0.125rem solid transparent;
  padding: 0.8125rem 1rem;
  background-color: var(--input-base);
  font: 400 var(--text-body-md);
  color: var(--input-placeholder);

  &:invalid{
  border: 1px solid var(--danger);
    
  }
  &:valid + #alert-error, &:valid + #error {
    display: none;
  }
}

input{
  height: 3rem;
}

input[type="color"]{
  padding: 6px;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: var(--shape-button);
  
  

  &::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
    padding: 0;
  }

  &::-webkit-color-swatch-wrapper{
    border: none;
    border-radius: 50%;
    padding: 0;
  }
}


#about-event label {
  font: 400 var(--text-body-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: 0.75rem;
}

label{
  font: 400 var(--text-body-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: 1rem;
}


textarea{
  height: 8.5rem;
}
input:focus, textarea:focus{
  outline: 0.125rem solid var(--brand-light); 
  border: 0.125rem solid transparent;
}

input[type="datetime-local"]{
  position: relative;
  text-transform: uppercase;
  &::-webkit-calendar-picker-indicator {
    /* width: 100%; */
    opacity: 0;
  }


  /* -webkit-appearance: none; */
}

input[type="radio"]{
  all: unset;
  position: absolute;
  inset: 0;
}