#app{
  display: grid;
  grid-template-columns: 400px 820px;
  justify-content: center;

  height: 100vh;
  overflow: hidden;
  gap: 1.25rem;

}

section {
  margin-bottom: 48px;
}

section:last-child{
  margin-bottom: 40px;
}

aside{
  padding: 2rem 2rem 0;
  border-radius: 0.75rem;
  background-image: url(../assets/Background.png);
  background-repeat: no-repeat;
  object-fit: cover;
  max-height: 45.5rem;


  & .aside-container{
    
    
    h1{
      font: var(--text-logo);
      color: #FF598B;
      padding-block: 1rem 0.25rem;
    }

    p{
      font: var(--text-body-md);
      color: var(--text-heading);
    }
  }
}

main{
  overflow: auto;
  padding: 5rem 8.125rem;
  border-radius: 0.75rem;
  background-color: var(--shape-body);
  /* margin-right: auto; */

  .main-container{
    /* max-width: 35rem; */

    & h1 {
      font: var(--heading-md);
      color: var(--text-heading);
      padding-bottom: 2.5rem;
    }


  }
}

#terms{
  border-top: 2px solid var(--input-stroke);
}
